@import "tailwindcss";

@theme {
  --color-primary-light: #34d399;
  --color-primary: #10b981;
  --color-primary-dark: #059669;

  --color-surface-light: #ffffff;
  --color-surface: #f8fafc;
  --color-surface-dark: #f1f5f9;

  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    @apply bg-surface text-gray-900 font-sans antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}